@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Sans:ital,wght@0,200;0,300;0,500;0,600;1,200;1,300;1,400&family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,200;1,400;1,900&family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,400;1,500;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kaushan Script', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
}

// Home page


.main {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #15151549, #17171750), url(./images/pexels-fauxels-3183197.jpg);
    background-position: center;
    background-size: cover;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 12vh;
        background: #00000044;

        img {
            width: 200px;
            margin: 10px;
            height: 56px;
        }

        .navbar {
            ul {
                display: flex;
                margin-right: 100px;
                list-style: none;

                li {
                    margin-right: 50px;

                    a {
                        color: #ffffff;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .mainContent {
        width: 100%;
        height: 88vh;
        display: flex;

        .main1 {
            width: 50%;
            height: 100%;
            padding: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                color: #fff;
                font-size: 48px;

                &::before {
                    content: "";
                    padding: 0px 2px;
                    background: #ff0000;
                    margin-right: 10px;
                }
            }

            p {
                margin-top: 20px;
                line-height: 25px;
                font-size: 18px;
                color: #efe9e9;
            }
        }

        .main2 {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 40px;

            .servises {
                width: 470px;
                height: 310px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .service {
                    margin: 20px;
                    width: 170px;
                    height: 110px;
                    background: #ffffffa7;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: 1s ease;

                    &:hover {
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    .main {
        height: 100vh;
        width: 100%;

        .mainContent {
            flex-direction: column;

            .main1 {
                width: 100%;
                padding: 40px;

                h1 {
                    font-size: 35px;
                }

                p {
                    font-size: 16px;
                }
            }

            .main2 {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px;

                .servises {
                    width: 50%;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    .service {
                        width: 145px;
                        height: 83px;
                        border-radius: 10px;

                        img {
                            width: 30px;
                        }

                        h3 {
                            font-size: 13px;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width:280px) {
    .main {
        height: 124vh;

        .mainContent {
            .main2 {
                .servises {
                    .service {
                        img {}

                        h3 {
                            font-size: 11px;
                        }
                    }
                }

            }
        }
    }
}

// home page end

// About page

.about {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .about1 {
        width: 50%;
        height: 100%;


        img {
            width: 90%;
        }
    }

    .about2 {
        padding: 50px;
        width: 50%;
        height: 100%;

        .head {
            font-size: 20px;
            color: #00000088;
            width: 110px;
            border-bottom: 4px solid #2ec323ed;
        }

        .aboutHeading {
            padding-top: 30px;
            font-size: 29px;
            width: 400px;
            color: #000000d9;
        }

        .aboutPara {
            margin-top: 20px;
            line-height: 24px;
            font-size: 17px;
        }

        .goods {
            width: 80%;
            height: 70px;
            display: flex;
            align-items: center;

            .good {
                margin-right: 15px;
                display: flex;
                flex-direction: column;

                .number {
                    font-size: 21px;
                    color: blue;
                }

                p {
                    font-size: 15px;
                    color: rgb(241, 66, 66);
                }
            }
        }

        a {
            display: inline-block;
            padding: 8px 16px;
            background: #2afa05;
            border-radius: 10px;
            color: #000000;
        }
    }
}

@media screen and (max-width:700px) {
    .about {
        flex-direction: column;
        height: 110vh;

        .about1 {
            width: 100%;
            height: 102%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 310px;
            }
        }

        .about2 {
            width: 100%;
            padding: 30px;

            .head {
                font-size: 20px;
                width: 99px;
            }

            .aboutHeading {
                font-size: 20px;
                padding-top: 14px;
                width: 80%;
            }

            .aboutPara {
                font-size: 13px;
                margin-top: 10px;
                line-height: 20px;
            }

            .goods {
                .good {
                    .number {
                        font-size: 16px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }

            a {
                padding: 8px 9px;
            }
        }

    }
}

@media only screen and (max-width: 830px) and (min-width:700px) {
    .about {
        flex-direction: column;
        height: 110vh;

        .about1 {
            width: 100%;
            height: 102%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 80%;
            }
        }

        .about2 {
            width: 100%;
            padding: 30px;

            .head {
                font-size: 36px;
                width: 186px;
            }

            .aboutHeading {
                font-size: 40px;
                padding-top: 14px;
                width: 80%;
            }

            .aboutPara {
                font-size: 27px;
                margin-top: 10px;
                line-height: 35px;
            }

            .goods {
                margin: 10px;

                .good {

                    .number {
                        font-size: 36px;
                        margin: 5px;
                    }

                    p {
                        font-size: 20px;
                    }
                }
            }

            a {
                display: inline-block;
                margin-top: 10px;
                font-size: 29px;
                padding: 10px 22px;
            }
        }

    }
}

@media screen and (max-width:280px) {
    .about {
        height: 124vh;
    }
}

// about page end
// client page 
.clients {
    overflow: hidden;
    width: 100%;
    height: 130px;
    background: #ffffff29;
    display: flex;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    .client {
        width: 15%;
        height: 100%;
        background: #000000cd;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: #fff;
            font-size: 40px;
        }
    }

    .swiper {
        width: 80%;
        height: 300px;

        .swiper-slide {
            //    background: #ff0b0b;
            height: 120px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;

            .swiper-image {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width:700px) {
    .clients {
        height: 65px;

        .client {
            width: 19%;

            h1 {
                font-size: 20px;
            }
        }

        .swiper {
            height: 100px;

            .swiper-wrapper {
                .swiper-slide {
                    height: 65px;
                    width: 200px;

                    .swiper-image {
                        width: 70px;
                        margin-left: 20px;
                    }
                }
            }
        }

    }
}

@media screen and (max-width:280px) {
    .clients {}
}

// client page end
// testimonial start
.testimonial {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    background: #bebbbb3e;
    padding: 50px;

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #5c5a0b;
    }

    .testp {
        text-align: center;
        margin: 10px;
    }



    .card {
        width: 300px;
        height: 120px;
        background: #ffffff;
        border-radius: 10px;

        .cd1 {
            display: flex;
            align-items: center;

            img {
                margin-left: 10px;
                width: 40px;
                border-radius: 50%;
                border: 2px solid #ffffff;
            }

            p {
                margin-left: 15px;
                font-size: 17px;
                color: #000000;
            }
        }

        .cd2 {
            padding: 10px;

            P {
                color: #000000;
                font-size: 11px;
            }
        }
    }

}


.testimonial {
    overflow: hidden;
    width: 100%;
    height: 62vh;
    background: #bebbbb3e;

    h1 {
        font-size: 30px;
        margin-bottom: -5px;
    }

    .testp {
        font-size: 13px;
        margin-bottom: 15px;
        text-align: center;
    }


    #testimonial {
        width: 50%;
        height: 222px;

        #card-slid {
            display: flex;
            align-items: center;
            justify-content: center;

            .card {
                width: 360px;
                height: 140px;

                .cd1 {
                    img {
                        width: 40px;

                    }

                    p {
                        font-size: 18px;
                    }
                }

                .cd2 {

                    // padding: 13px;
                    P {
                        font-size: 14px;
                        padding: 13px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:700px) {
    .testimonial {
        padding: 10px;

        h1 {
            font-size: 30px;
            margin-bottom: -5px;
        }

        .testp {}



        #testimonial {
            width: 100%;
            height: 222px;

            #card-slid {

                .card {
                    width: 267px;
                    height: 130px;


                    .cd1 {
                        img {
                            width: 50px;
                            padding: 5px;

                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    .cd2 {

                        // padding: 13px;
                        P {
                            font-size: 13px;
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:280px) {
    .testimonial {
        padding: 10px;

        h1 {
            font-size: 30px;
            margin-bottom: -5px;
        }

        .testp {}



        #testimonial {
            width: 100%;
            height: 222px;

            #card-slid {

                .card {
                    width: 200px;
                    height: 130px;


                    .cd1 {
                        img {
                            width: 50px;
                            padding: 5px;

                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    .cd2 {

                        // padding: 13px;
                        P {
                            font-size: 11px;
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 830px) and (min-width:700px) {
    .testimonial {
        height: 30vh;
        padding: 10px;

        h1 {
            font-size: 30px;
            margin-bottom: -5px;
        }

        .testp {}



        #testimonial {
            width: 80%;
            height: 222px;

            #card-slid {

                .card {
                    width: 400px;
                    height: 138px;


                    .cd1 {
                        img {
                            width: 55px;
                            padding: 5px;

                        }

                        p {
                            font-size: 19px;
                        }
                    }

                    .cd2 {

                        // padding: 13px;
                        P {
                            font-size: 16px;
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

// testimonial end

// contact start
.contact {
    overflow: hidden;
    width: 100%;
    height: 35vh;

    .mcard {
        display: flex;

        .cards {
            width: 100%;
            height: 35vh;
            // background: #0000003c;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .card {
                width: 250px;
                height: 140px;
                background: #fff;
                border-radius: 20px;
                box-shadow: 0px 18px 36px -11px rgba(0, 0, 0, 0.227);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 50px;
                }

                p {
                    margin-top: 10px;
                    display: inline-block;
                    font-size: 18px;
                    text-align: center;
                    width: 230px;
                }
            }
        }
    }

}

@media screen and (max-width:700px) {
    .contact {
        overflow: hidden;
        width: 100%;
        height: 45vh;

        .mcard {
            display: flex;
            flex-wrap: wrap;

            .cards {
                width: 100%;
                height: 20vh;
                // background: #0000003c;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .card {
                    width: 167px;
                    height: 100px;
                    background: #fff;
                    border-radius: 20px;
                    box-shadow: 0px 18px 36px -11px rgba(0, 0, 0, 0.227);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    img {
                        width: 28px;
                    }

                    p {
                        margin-top: 10px;
                        display: inline-block;
                        font-size: 11px;
                        text-align: center;
                        width: 230px;
                        font-weight: bolder;
                    }
                }
            }
        }

    }



}

@media screen and (max-width:280px) {
    .contact {
        overflow: hidden;
        width: 100%;
        height: 45vh;

        .mcard {
            display: flex;
            flex-wrap: wrap;

            .cards {
                .card {
                    width: 125px;
                    height: 100px;

                    img {
                        width: 20px;
                    }

                    p {
                        margin-top: 10px;
                        display: inline-block;
                        font-size: 8px;
                        text-align: center;
                        width: 230px;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 830px) and (min-width:700px) {
    .contact {
        overflow: hidden;
        width: 100%;
        height: 20vh;

        .mcard {
            display: flex;
            flex-wrap: nowrap;

            .cards {
                width: 100%;
                height: 20vh;

                .card {
                    width: 185px;
                    height: 112px;

                    img {
                        width: 30px;
                    }

                    p {
                        margin-top: 10px;
                        display: inline-block;
                        font-size: 12px;
                        text-align: center;
                        width: 230px;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

// form input

.form {
    overflow: hidden;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .forms {
        width: 50%;
        height: 100%;
        background: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 40px;

        h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 40px;
            color: #49a13a;
        }

        .name {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;

            .fname {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 20px;
                }

                input {
                    width: 100%;
                    height: 25px;
                    border: 2px solid rgba(0, 0, 0, 0.178);
                    outline: none;
                }
            }

            .lname {
                display: flex;
                flex-direction: column;
                margin-left: 10px;

                label {
                    font-size: 20px;
                }

                input {
                    width: 100%;
                    height: 25px;
                    border: 2px solid rgba(0, 0, 0, 0.178);
                    outline: none;

                }
            }
        }

        .email {
            width: 100%;
            height: 60px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            label {
                font-size: 20px;
            }

            input {
                width: 63%;
                height: 25px;
                border: 2px solid rgba(0, 0, 0, 0.178);
                outline: none;
            }
        }

        .message {
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 10px;
                font-size: 20px;
            }

            textarea {
                width: 63%;
                margin-bottom: 20px;
                border: 2px solid rgba(0, 0, 0, 0.178);
                outline: none;
            }

            .btn {
                width: 63%;
                padding: 5px 0px;
                background: #0fcd45;
                color: #fff;
                font-size: 20px;
                border: none;
                border-radius: 10px;
            }
        }
    }

    .image {
        overflow: hidden;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;

        img {
            width: 80%;
        }
    }
}

@media screen and (max-width:700px) {
    .form {
        width: 100%;
        height: 125vh;
        flex-direction: column-reverse;

        .forms {
            width: 100%;
            height: 85vh;
            padding: 20px;

            h1 {}

            .name {


                .fname {

                    label {}

                    input {}
                }

                .lname {


                    label {}

                    input {}
                }
            }

            .email {

                label {
                    font-size: 20px;
                }

                input {
                    width: 100%;
                    height: 25px;
                }
            }

            .message {


                label {}

                textarea {
                    width: 100%;

                }

                .btn {
                    width: 63%;
                    padding: 5px 0px;
                    background: #0fcd45;
                    color: #fff;
                    font-size: 20px;
                    border: none;
                    border-radius: 10px;
                }
            }
        }

        .image {
            width: 100%;
            height: 45vh;
            display: flex;
            align-items: center;

            img {
                width: 90%;
            }
        }
    }

}

@media only screen and (max-width: 830px) and (min-width:700px) {
    .form {
        width: 100%;
        height: 45vh;


        .forms {
            width: 50%;
            height: 45vh;
            padding: 20px;

            h1 {}

            .name {


                .fname {

                    label {}

                    input {}
                }

                .lname {


                    label {}

                    input {}
                }
            }

            .email {

                label {
                    font-size: 20px;
                }

                input {
                    width: 100%;
                    height: 25px;
                }
            }

            .message {


                label {}

                textarea {
                    width: 100%;

                }

                .btn {
                    width: 63%;
                    padding: 5px 0px;
                    background: #0fcd45;
                    color: #fff;
                    font-size: 20px;
                    border: none;
                    border-radius: 10px;
                }
            }
        }

        .image {
            width: 50%;
            height: 45vh;
            display: flex;
            align-items: center;

            img {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:280px) {
    .form {
        width: 100%;
        height: 109vh;

        h1 {
            z-index: 5;
        }

        .forms {
            width: 100%;
            height: 73vh;
            padding: 20px;
            margin-bottom: 30;

            h1 {}

            .name {


                .fname {

                    label {}

                    input {}
                }

                .lname {


                    label {}

                    input {}
                }
            }

            .email {

                label {
                    font-size: 20px;
                }

                input {
                    width: 100%;
                    height: 25px;
                }
            }

            .message {


                label {}

                textarea {
                    width: 100%;

                }

                .btn {
                    width: 63%;
                    padding: 5px 0px;
                    background: #0fcd45;
                    color: #fff;
                    font-size: 20px;
                    border: none;
                    border-radius: 10px;
                    display: inline-block;
                }
            }
        }

        .image {
            
            width: 100%;
            height: 20vh;
            display: flex;
            align-items: center;

            img {
                width: 90%;
            }
        }
    }
}

// form input end
// footer start
.footer {
    overflow: hidden;
    width: 100%;
    height: 55vh;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;

    img {
        width: 250px;
    }

    p {
        margin-top: 15px;
        color: #fff;
        width: 600px;
        text-align: center;
        margin-bottom: 15px;
    }

    .icons {
        img {
            width: 30px;
            margin-left: 10px;
        }

        padding-bottom: 20px;
    }

    .foot {
        width: 100%;
        height: 50px;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;

        p {
            color: #fff;
        }

    }
}


@media screen and (max-width:700px) {
    .footer {
        width: 100%;
        height: 45vh;
        background: #1e1e1e;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;

        img {
            width: 200px;
        }

        p {
            margin-top: 15px;
            color: #fff;
            width: 90%;
            text-align: center;
            margin-bottom: 15px;
        }

        .icons {
            img {
                width: 25px;
                margin-left: 10px;
            }

            padding-bottom: 20px;
        }

        .foot {
            width: 100%;
            height: 50px;
            background: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 10px;

            p {
                color: #fff;
            }

        }
    }
}


@media only screen and (max-width: 830px) and (min-width:700px) {
    .footer {
        width: 100%;
        height: 20vh;


        img {
            width: 200px;
        }

        p {}

        .icons {
            img {}


        }

        .foot {


            p {}

        }
    }
}

// footer start end